@font-face {
  font-family: "LBRITE";
  src: url("https://static.wfonts.com/data/2016/05/14/lucida-bright/LBRITE.woff")
    format("woff");
  font-display: swap;
}

body {
  font-family: "LBRITE", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-bg);
  overflow-x: hidden;
}


/* israa  */


/* menna */


/* hagar */


/* nada */


/* mariam */
