.hp-navbar{
   
}
.hp-hero-wrapper{
    background: linear-gradient(rgba(0 , 14, 37, 0.24), rgba(0, 14, 37, 0.24)) url('../img/hp-hero.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    border-radius: 99px !important;
    overflow: hidden;
    position: relative;

}
.hp-search-container .form-control, 
.hp-search-container .form-select,
.hp-field {
    border-radius: 20px !important; 
    height: 60px !important; 
    border: 2px solid rgba(33, 46, 67, 1) !important;
    padding-left: 20px !important;
    background-color: #ffffff !important;
}

.hp-btn-search {
    background-color: rgba(33, 46, 67, 1) !important; 
    color: white !important;
    border-radius: 20px !important; 
    height: 60px !important;
    border: none !important;
    font-weight: bold;
    border: 1px solid rgba(204,204, 204, 1) !important;    

}
.hp-search-container {
    background: rgba(33, 46, 67, 0.49) !important; 
    backdrop-filter: blur(10px); 
    border-radius: 50px !important; 
    border: 3px solid rgba(33, 46, 67, 1) !important;
    padding: 40px !important;
    max-width: 1000px;
    margin: 40px auto !important;
}
/* .hp-search-container .form-control, 
.hp-search-container .form-select, 
.hp-field {
    border-radius: 50px !important; 
    height: 50px !important; 
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px solid #ddd !important;
}

.hp-btn-search {
    border-radius: 50px !important;
    height: 50px !important;
    background-color: #0d2137 !important; 
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    width: 100%; 
    transition: 0.3s;
}
.form-control:focus, .form-select:focus {
    box-shadow: none !important;
    border-color: #0d2137 !important;
} */