@font-face {
  font-family: "LBRITE";
  src: url("https://static.wfonts.com/data/2016/05/14/lucida-bright/LBRITE.woff")
    format("woff");
  font-display: swap;
}

#preview-render {
  font-family:
    "LBRITE",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 68px;
  color: #373c44;
}
:root {
  --font-primary-color: #212e43;
  --secondary-color: #f4c430;
}

body {
  font-family:
    "LBRITE",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

.image-side {
  width: 100%;
  background: url("../img/img.svg") center/cover no-repeat;
  background-color: var(--font-primary-color);
  height: 100%;
}
.image-side2 {
  width: 100%;
  background: url("../img/img2.svg") center/cover no-repeat;
  background-color: var(--font-primary-color);
  height: 100%;
}

.form-box {
  width: 100%;
  width: 450px;
  padding: 40px;
  background: #fff;
  border-radius: 50px 0 0 60px;
}

.submit-btn {
  background: var(--font-primary-color);
  color: #fff;
  padding: 12px;
}
label {
  color: var(--font-primary-color);
}

.text-warning {
  color: var(--secondary-color) !important;
}

.Welcome-secondry-line {
  font-size: 16px;
}

.Welcome-secondry-line-signin {
  font-size: 16px;
}

.text-container {
  max-width: 580px;
}
.homunity-logo {
  width: 100px;
  height: 100px;
}

.homunity-logo2 {
  width: 70px;
  height: 70px;
}

.forget-line {
  color: #7c7c7c;
}

.radio-option {
  color: var(--font-primary-color);
}

input[type="radio"] {
  accent-color: var(--font-primary-color);
}

.phone-warning,
.password-warning {
  color: #ff0000;
  font-size: 14px;
}
